###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Archivos específicos de la base de datos MySQL (no se deben subir)
/dataMYSQL/

# Archivos de configuración de IDE (por ejemplo, PhpStorm, VSCode)
/.idea/
/.vscode/

# Archivos temporales y logs generados por Symfony
/var/cache/
/var/log/
/var/sessions/

# Otros archivos temporales generados por Symfony
/.phpunit.result.cache

# Otros archivos que no deben ser versionados
/.DS_Store
Thumbs.db
