/* Header */
/* Estilo para el header */




/* Main Content */
.container {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

aside {
    width: 10%;
    background-color: #000000;
    padding: 10px;
    margin-right: 20px;
    border: #1DB954 solid 0.5px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    color: #1DB954;
    text-decoration: none;
}

.main-content {
    width: 90%;
}

/* Estilo de la lista de playlists */
.playlists ul {
    display: flex;
    /* Distribuir elementos horizontalmente */
    flex-wrap: wrap;
    /* Permitir que se ajusten si no hay espacio */
    justify-content: space-around;
    /* Espaciado uniforme */
    padding: 0;
    list-style: none;
    /* Eliminar viñetas */
    width: 100%;
    /* Ocupar todo el ancho */
}

.playlists ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Espacio entre el icono y el texto */
    font-size: 18px;
    font-weight: bold;
}

/* Icono de círculo antes de cada playlist */
.playlists ul li::before {
    content: "•";
    /* Punto */
    font-size: 22px;
    /* Tamaño del punto */
    color: #1DB954;
    /* Verde Spotify */
}

/* Estilos de los enlaces de las playlists */
.playlists ul li a {
    text-decoration: none;
    color: white;
    /* Puedes cambiarlo si prefieres otro color */
    transition: color 0.3s;
}

.playlists ul li a:hover {
    color: #1DB954;
    /* Verde Spotify al pasar el cursor */
}

/* Contenedor de canciones */
.canciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas */
    gap: 20px;
    /* Espacio entre canciones */
    justify-items: center;
    /* Centrar los elementos */
    width: 100%;
    margin-top: 20px;
}

.cancion-info:hover {
    cursor:grabbing;
    transform: scale(1.05); 
    transition: transform 0.8s ease-in-out; 
    
}

/* Estilo de cada canción */
.cancion {
    width: 100%;
    max-width: 300px;
    /* Tamaño máximo */
    background-color: black;
    border: 2px solid #1DB954;
    /* Bordes verdes */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

/* Estilo del contenedor de info de la canción */
.cancion-info {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    border-radius: 8px;
}

/* Títulos de las canciones */
.cancion-info h3 a {
    color: #1DB954;
    ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.cancion-info h3 a:hover {
    color: #ffffff;
    /* Verde al pasar el cursor */
}

/* Estilo del reproductor de audio */
.cancion-info audio {
    width: 100%;
    margin-top: 10px;
}


/*Estilos para la vista de la pagina que ve en detalle cada playlist*/
.contenedor-vista-playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1DB954;
}
