<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

      <header>
         <h1><a href="{{ path('app_home') }}">MySpotify</a></h1>
        <nav>
            <ul>
                <li><a href="{{path('app_playlists')}}">Playlist</a></li>
                <li><a href="#">Canciones</a></li>
                <li><a href="#">Explorar</a></li>
            </ul>
        </nav>
           <form action="" method="GET">
                    <input type="text" name="q" placeholder="Buscar canción">
                    <button type="submit">Buscar</button>
                </form>
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <footer>
        <p>&copy; 2025 Mi Música, Todos los derechos reservados.</p>
    </footer>
    
</html>